@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&family=Style+Script&display=swap");

/* Reset some default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

html,
body {
  background-color: #f4eeff;
}

section {
  background-color: #dcd6f7;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.intro {
  color: #424874;
  text-align: center;
}

.pro {
  text-decoration: underline solid;
}
h1 {
  font-size: 6rem;
  font-family: "Style Script", cursive;
  margin-top: -33vh;
}

#programmer {
  font-size: 2.5rem;
  padding: 0 10px;
}

img {
  height: 180px;
  border-radius: 50%;
}

.nature {
  background: #dcd6f7 url(./scene.jpg) center center/cover no-repeat content-box
    local;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade {
    background: linear-gradient(0deg, #7072D7 0%, #dcd6f7 100%);
}
/* nav {
  background-color: #dcd6f7;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #A6B1E1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media (hover: hover) {
  nav ul li a:hover {
    background-color: #424874;
  }
} */
